body{
    margin: 0%;
    font-family: 'Noto Sans', sans-serif;
}
p{
    color:lightslategray;
}
h2{
    color: mediumslateblue;

}
h3{
    color: darkviolet;
}
h4{
    color:rgb(99, 42, 165);
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.name-highlight{
    color: rgb(15, 226, 233);
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat; 
}
section{
    height: 500px;
}
.link-button{
    text-decoration: none;
    background-image:linear-gradient( rgb(235, 16, 198),rgb(210, 104, 231) );
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}
.dream-area{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 5%;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 72%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 5%;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(56, 202, 228),rgb(198, 15, 235));
    border-image-slice: 1;
}
#beginner-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(138, 4, 156),rgb(53, 13, 230));
    border-image-slice: 1;

}
footer p{
    text-align: center;
    font-size: 12px;
}